In [7]:
amount=int(input("enter the withdrawal amount"))
acc_balance=5000
if(amount<=acc_balance and amount%100==0):
    print("withdrawal successful")
else:
    print("insufficient balance")

enter the withdrawal amount4034
insufficient balance

In [8]:
amount=int(input("enter the withdrawal amount"))
acc_balance=5000
if(amount<=acc_balance and amount%100==0):
    print("withdrawal successful")
else:
    print("insufficient balance")

enter the withdrawal amount4000
withdrawal successful

In [9]:
amount=int(input("enter the withdrawal amount"))
res="withdrawal successful" if(amount<=5000 and amount%100==0) else "insufficient balance"
print(res)

enter the withdrawal amount3456
insufficient balance

In [2]:
#traffic signal decision 
color=input("enter the color:")
if color=='red':
    print("stop immediately")
elif color=="yellow":
    print("get ready to go")
elif color=="green":
    print("you can move")
# ternary operator

enter the color:yellow
get ready to go

In [6]:
n=int(input("enter the age"))
if(n<=12):
    print("ticket price will 150")
elif(n<12 and 18>n):
    print("200")
elif(n<18):
    print("300")

enter the age12
ticket price will 150

In [5]:
n=int(input("enter the age"))
if(n<=12):
    print("ticket price will 150")
elif(n>=12 and n<=18):
    print("200")
elif(n>=18):
    print("300")

enter the age19
300

In [11]:
# employee overtime pay
n=int(input("enter the time"))
s_time=8
if(n>s_time):
    print("100 per extra hour")
else:
    print("no ovrtime")

res="100 per extra hour" if(n>8) else "no overtime"
print(res)

enter the time5
no ovrtime
no overtime

In [7]:
n=int(input("enter the time"))
s_time=8
if(n>s_time):
    print("100 per extra hour")
else:
    print("no ovrtime")

enter the time7
no ovrtime

In [8]:
n=int(input("enter the time"))
if(n>8):
    print("100 per extra hour")
else:
    print("no ovrtime")

enter the time6
no ovrtime

In [14]:
bill=int(input("enter the amount"))
if(bill>1000):
    print(bill*10/100)
elif(bill>500):
    print(bill*5/100)
elif(bill<=500):
    print("no discount")

enter the amount200
no discount

In [16]:
bill=int(input("enter the amount"))
if(bill>1000):
    print( "final amount after the discount",bill*10/100)
elif(bill>500):
    print("final amount after the discount",bill*5/100)
elif(bill<=500):
    print("no discount")

enter the amount2000
final amount after the discount 200.0

In [17]:
bill=int(input("enter the amount"))
if(bill>1000):
    print( "final amount after the discount",bill*10/100)
elif(bill>500):
    print("final amount after the discount",bill*5/100)
elif(bill<=500):
    print("no discount")

enter the amount600
final amount after the discount 30.0

In [2]:
n=int(input("enter the time"))
if(n>=4):
    print("you are dehydrated!Drink water now!")
elif(n<=2 and n>=4):
    print("drink a glass of water")
else:
    print("you're fine")

enter the time3
you're fine

In [4]:
n=int(input("enter the time"))
if(n>=4):
    print("you are dehydrated!Drink water now!")
elif(n>=2 and n<4):
    print("drink a glass of water")
elif(n<2):
    print("you're fine")

enter the time3
drink a glass of water

In [ ]:
List=[10,20,30,40,50]
Tuple=(10,20,30,40,50)
Set={10,20,30,40,50}
print(List,type(List))
print(Tuple,type(Tuple))
print(Set,type(Set))

In [11]:
#range(stop)
#range(start,stop)
#range(start,stop,stepsize)
R1=range(10)
print(R1)
print(type(R1))

range(0, 10)
<class 'range'>

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [14]:
for i in range(10,16):
    print(i)

10
11
12
13
14
15

In [15]:
for i in range(11,16):
    print(i)

11
12
13
14
15

In [8]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [6]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [23]:
#to print the natural numbers 1 to n ,where n is the users input
n=int(input("enter the user input"))
print(f"Natural Number from 1 to {n}:")
for i in range(1,n+1):
      print(i)

enter the user input24
Natural Number from 1 to 24:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [5]:
# to print natural numbers from n to 1
n=int(input("enter the user input"))
print(f"Natural Number from 1 to {n}:")
for i in range(n,0,-1):
      print(i)

enter the user input7
Natural Number from 1 to 7:
7
6
5
4
3
2
1

In [10]:
#to print even numbers from 1 to n
n=int(input("enter the user input"))
print(f"Even Number from 1 to {n}:")
for i in range(2,n+1,2):
      print(i)

enter the user input24
Even Number from 1 to 24:
2
4
6
8
10
12
14
16
18
20
22
24

In [14]:
#to print the odd numbers from 1 to n
n=int(input("enter the user input"))
print(f"odd Number from 1 to {n}:")
for i in range(1,n+1,2):
      print(i)

enter the user input24
odd Number from 1 to 24:
1
3
5
7
9
11
13
15
17
19
21
23

In [13]:
# to print the even numbers from n to 1
n=int(input("enter the user input"))
print(f"Natural Number from 1 to {n}:")
for i in range(n,0,-1):
    if(i%2==0):
        print(i)

enter the user input25
Natural Number from 1 to 25:
24
22
20
18
16
14
12
10
8
6
4
2

In [19]:
#to  print odd numbers from n to 1
n=int(input("enter the user input"))
print(f"Natural Number from 1 to {n}:")
for i in range(n,0,-1):
    if(i%2!=0):
        print(i)

enter the user input24
Natural Number from 1 to 24:
23
21
19
17
15
13
11
9
7
5
3
1

In [21]:
# to print multiplication table of n
n=int(input("enter the value"))
print(f"Multiplication table of {n}:")
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

enter the value7
Multiplication table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [5]:
# to print reversed multiplication table of n
n=int(input("enter the value"))
print(f"Multiplication table of {n}:")
for i in range(n,0,-1):
    print(f"{n} x {i} = {n*i}")

enter the value12
Multiplication table of 12:
12 x 12 = 144
12 x 11 = 132
12 x 10 = 120
12 x 9 = 108
12 x 8 = 96
12 x 7 = 84
12 x 6 = 72
12 x 5 = 60
12 x 4 = 48
12 x 3 = 36
12 x 2 = 24
12 x 1 = 12

In [7]:
# multiplication tables from 1 to n,where n is an integer input from the user

n = int(input("Enter the value of n: "))

for i in range(1, n+1):   # Loop from 1 to n
    print(f"\nMultiplication Table of {i}:")
    for j in range(1, 11):   # Loop from 1 to 10
        print(f"{i} x {j} = {i*j}")

Enter the value of n: 20

Multiplication Table of 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table of 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication Table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication Table of 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication Table of 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Multiplication Table of 11:
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

Multiplication Table of 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Multiplication Table of 13:
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

Multiplication Table of 14:
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

Multiplication Table of 15:
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

Multiplication Table of 16:
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

Multiplication Table of 17:
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

Multiplication Table of 18:
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

Multiplication Table of 19:
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

Multiplication Table of 20:
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [9]:
# electricity bill
n=int(input("enter the bill unit"))
if(n<=100):
    print(n*5)
elif(n>100 and n<=200):
    print(n*7)
elif(n>200):
    print(n*10)

enter the bill unit316
3160

In [13]:
n=int(input("enter the bill unit"))
if(n<=100):
    print("the total bill:",n*5)
elif(n>100 and n<=200):
    print("the total bill:",n*7)
elif(n>200):
    print("the total bill:",n*10)
print("paid")

enter the bill unit87
the total bill: 435
paid

In [7]:
value=int(input("enter the cart value"))
if(value<=500):
    print("free delivery applied")
elif(value>500):
    print("Delivery charge 50 added",value+50)

enter the cart value600
Delivery charge 50 added 650

In [12]:
#Fitness IBM checker
BMI=int(input("enter the weight:"))
if(BMI<18.5):
    print("underweight")
elif(BMI>=18.5 and BMI<25):
    print("Normal weight")
elif(BMI>=25 and BMI<=30):
    print("overweight")
else:
    print("obese")

enter the weight:32
obese

In [13]:
#loan eligibility
salary=int(input("enter the salary:"))
credit=int(input("enter the credit score:"))
if(salary>=30000 and credit>=700):
    print("eligible")
else:
    print("not eligible")

enter the salary:34000
enter the credit score:800
eligible

In [1]:
salary=int(input("enter the salary:"))
credit=int(input("enter the credit score:"))
if(salary>=30000 and credit>=700):
    print("eligible")
else:
    print("not eligible")
    
res="eligible" if(salary>=30000 and credit>=700) else "not eligible"
print(res)

enter the salary:30000
enter the credit score:700
eligible
eligible

In [15]:
salary=int(input("enter the salary:"))
credit=int(input("enter the credit score:"))
if(salary>=30000 or credit>=700):
    print("eligible")
else:
    print("not eligible")

enter the salary:30000
enter the credit score:500
eligible

In [19]:
# Temperature Alert System
n=int(input("enter the temperature"))
if(n<0):
    print("freezing weather")
elif(n>0 and n<=20):
    print("cold weather")
elif(n>21 and n<=35):
    print("normal weather")
else:
    print("hot weather")

enter the temperature37
hot weather

In [3]:
# mobile data balance checker
bal=int(input("to check the balance"))
if(bal==0):
    print("recharge required")
elif(bal>=0 and bal<=100):
    print("low data warning")
else:
    print("sufficient data available")

to check the balance50
low data warning

In [4]:
#train ticket concession
age=int(input("enter the age"))
if(age<5):
    print("free")
elif(age>5 and age<12):
    print("half ticket")
elif(age>13 and age<59):
    print("full ticket")
else:
    print("30% senior citizen discount")

enter the age60
30% senior citizen discount

In [6]:
age=int(input("enter the age"))
amo=int(input("enter amount"))
if(age<5):
    print("free")
elif(age>5 and age<12):
    print("half ticket")
elif(age>13 and age<59):
    print("full ticket")
else:
    print("30% senior citizen discount",30/amo*100-amo)

enter the age60
enter amount200
30% senior citizen discount -185.0